[2020-09-05 21:36] shaobo-he commented on #614
I think we discussed this when I implemented this feature. I remember that unsound may seem intuitive to the users than incomplete.

[2020-09-05 23:30] #602 closed

[2020-09-25 23:40] shaobo-he opened #616 "Entry point annotation ill-defined for vararg functions"
Currently, we fork the implementation of a vararg function by its usage, each of which is distinguished by its argument. This creates a tricky case when such a function is chosen as an entry point. Consider the following program,

[code]

If I invoke SMACK on this program with flag `--entry-point myprintf`, Corral throws an exception `Error, Invalid input: Main procedure not specified`. This is be

[2020-09-25 23:49] shaobo-he commented on #616
Btw, for the attached file, if I invoke it with `smack enclave.so.ll --entry-point printf`, Corral also throws the same exception.
[enclave.so.txt](https://github.com/smackers/smack/files/5285872/enclave.so.txt)

[2020-09-25 23:53] shaobo-he commented on #616
Btw, for the attached file, if I invoke it with smack enclave.so.ll --entry-point printf, Corral also throws the same exception.
[enclave.so.txt](https://github.com/smackers/smack/files/5285877/enclave.so.txt)

[2020-09-25 23:59] shaobo-he opened #617 "Imprecise error trace for memory safety violation"
For example,

[code]

We didn't show where the memory safety violation is. Furthermore, `p)` is produced in the error trace.

[2020-10-01 16:58] zvonimir commented on #585
Closed by #618

[2020-10-01 16:58] #585 closed

[2020-10-02 21:59] hayley-leblanc opened #620 "IDs have conflicting values error translating Linux source code"
Hi,

I am trying to translate some Linux source code into Boogie using Smack - I raised an issue a little while ago and you guys were super helpful, so thank you! I was previously using an older version of Linux, but now that Smack has a new release I've been able to move to a newer version of Linux. I'm currently using Linux 5.8.5 and Smack 2.6.0 in a Docker container; the issue also manifests in

[2020-10-05 23:47] shaobo-he opened #621 "Refactor floating point rounding mode initialization"
Maybe we should refactor these lines:

https://github.com/smackers/smack/blob/7ce4ae8813d025ee544e7df6583bc680617c83fc/lib/smack/SmackRep.cpp#L1218-L1221

into a function defined using the `__SMACK_INIT` macro and in `fenv.c`.

[2020-10-05 23:56] shaobo-he commented on #620
Hey @hayley-leblanc. Thank you for reporting this issue. It seems that you have to add this flag `-fshort-wchar` when compiling SMACK's library functions. Could you try this `smack jbd2.o.bc --clang-options='-fshort-wchar'`?

[2020-10-06 17:15] hayley-leblanc commented on #620
Thanks @shaobo-he! Running `smack jbd2.o.bc --clang-options='-fshort-wchar'` gives the following error. I get this same error when I compile `jbd2.o` without the `-fshort-wchar` flag.

[code]

[2020-10-06 22:00] shaobo-he commented on #620
Thank you for trying it out. Could you please attach the bc file that leads to the crash so that I can try to debug it?

[2020-10-06 22:26] hayley-leblanc commented on #620
Sure! Sorry for not including it earlier.
[jbd2.o.bc.zip](https://github.com/smackers/smack/files/5337207/jbd2.o.bc.zip)

[2020-10-07 06:16] shaobo-he commented on #54
Fixed via #569. Now we support wrapped integer arithmetic via flag `--integer-encoding=wrapped-integer`.

[2020-10-07 06:16] #54 closed

[2020-10-07 06:25] shaobo-he commented on #128
Closed via ce2127c2938f268c19a2a6eceb2bfcb45ffd866f. This is done via the `--transform-bpl` flag.

[2020-10-07 06:25] #128 closed

[2020-10-07 06:29] shaobo-he commented on #143
@dbueno Please reopen this issue if you're still interested in it.

[2020-10-07 06:29] #143 closed

[2020-10-07 06:36] shaobo-he commented on #321
It appears we don't really have a strong case for this issue. Source language frontends are sufficient to produce bc files for testing SMACK.

[2020-10-07 06:36] #321 closed

[2020-10-07 06:39] shaobo-he commented on #511
These functions are used by `ct-verif`. I'm not sure if we can produce meaningful regressions without invoking it. @zvonimir please reopen this issue if you find it necessary.

[2020-10-07 06:39] #511 closed

[2020-10-07 06:46] shaobo-he commented on #568
Fixed via #569.

[2020-10-07 06:46] #568 closed

[2020-10-08 08:49] hernanponcedeleon opened #622 "Use of undefined functions"
For the C program below, the following command

[code]
 generates a Boogie file with some undefined functions, e.g. `$zext.bv32.bv33`

[code]

[2020-10-08 18:44] shaobo-he opened #623 "callbr instruction is not modeled"

[2020-10-08 19:20] shaobo-he commented on #620
@hayley-leblanc I spent some time investigating the crash and concluded that it will take much longer than I expect to fix it. In the meanwhile, clang-10 gives SMACK unsupported instructions in your bc file. So I would recommend that you use an older version of SMACK if that works for your program while we continue the debugging and modeling process.

[2020-10-09 15:58] hayley-leblanc commented on #620
Thanks! I do have my project working with an older version of SMACK, so there's absolutely no rush on my end at all :) Thanks so much for your help!

[2020-10-11 20:05] zvonimir commented on #568
@hernanponcedeleon Just to keep you in the loop, @shaobo-he implemented a pure integer encoding that can soundly handle bit-vector operations as well.

[2020-10-11 20:31] zvonimir commented on #622
This is now fixed.

[2020-10-11 20:31] #622 closed

[2020-10-11 20:41] hernanponcedeleon commented on #568
That's great to hear. Is this merged into master already or in which branch?

[2020-10-11 20:42] zvonimir commented on #568
It's in the develop branch.

[2020-10-11 20:46] hernanponcedeleon commented on #568
Great. I'll give it a try this week and let you know if I encounter any issue. Thanks again for the support about this.

[2020-10-12 14:34] hernanponcedeleon commented on #568
Which is the option I need to select for the soundly encoding? `unbounded-integer` or `wrapped-integer` (or anything different)?

[2020-10-12 16:43] zvonimir commented on #568
It would be the `wrapped-integer` one. Note that it can be really slow for some benchmarks since it uses mod.

[2020-10-13 05:50] shaobo-he commented on #105
I would like to revive this issue and propose something different than Monty's. I propose that we reuse the `__assert_fail` function to which libc expands the `assert` macro. We could write a pass that converts each call site of this function into either a call to a Boogie function or a series of Boogie commands that consist of `assume`s and `assert false;`.

[2020-10-14 22:19] shaobo-he opened #626 "Possibly incorrect behavior in parse `--check` option"
Consider the example,

[code]

It seems only `memleak` is recorded. Probably we need `action='extend'` (https://docs.python.org/3/library/argparse.html#action) when specifying this option.

[2020-10-19 15:00] hernanponcedeleon opened #628 "Global structures"
Whenever there is a global array, the Boogie code has something like `const {:count X}` where `X` is the size of the array.
This works perfectly for me because I can use it as a hint that I should allocate that space in memory without having to use SMACK memory model.

Unfortunately the same is not true for structures. For example, the following code
[code]
would result in a constant
[code]
SMACK

[2020-10-25 03:15] zvonimir opened #629 "LLVM IR memcmp instruction not implemented"
It should be really similar to memcpy I would guess.

[2020-10-25 21:00] #629 closed

[2020-10-26 02:13] zvonimir commented on #623
LLVM IR description says (https://llvm.org/docs/LangRef.html#callbr-instruction):
[code]
Given that we already do not model inline assembly, I think this instruction should be a noop and we should issue a warning about it.

@shaobo-he What do you think? If you agree, then I can easily implement this. Thx!

[2020-10-26 02:17] zvonimir commented on #575
This is a duplicate of #629. It got closed by this pull request #630.

[2020-10-26 02:17] #575 closed

[2020-10-26 02:31] #626 closed

[2020-10-26 02:32] zvonimir commented on #628
Thanks for reporting this. Yeah, we can look into adding the same tag for global objects. I think it should be doable.
Having said that, we've been super busy with SVCOMP and other deadlines. Is this urgent?

[2020-10-26 06:05] shaobo-he commented on #623
I agree.

[2020-10-26 06:27] shaobo-he commented on #628
@hernanponcedeleon a follow-up question here: just to double-check we're at the same page, you'd like an attribute that tells how many bytes a global variable takes, right? In your example, it'd probably be `{:size 8}`. I used `size` here because `count` makes sense for arrays but not for structures.

[2020-10-26 08:51] hernanponcedeleon commented on #628
No, it is not.

Yes, in the end what I need to know is how much space in the memory the object needs. The tag `size` looks good to me. Assuming the solution would also work out-of-the box for arrays, it would be useful to also have the tag for them.

[2020-11-07 00:55] shaobo-he commented on #620
I tried again to debug this issue and here are my observations,

* This code contains inline assembly with side effects. Getting the called function on them returns nullptr. This affects `Devirt` and `SmackInstGenerator`.
* Our `IntegerOverflow` pass does not process the `llvm.umul.with.overflow.i64` correctly.

[2020-11-07 06:59] shaobo-he commented on #620
Related issue #623

[2020-11-12 02:47] keram88 opened #641 "Enhance behavior of conditionalModel"
Currently during instruction generation `conditionalModel` requires all given options to be specified. Some bit-wise intrinsics may have integer models, meaning the transformation should happen if smack is in the bit-precise or rewrite bitwise-ops mode, but does not require both.

[2020-11-12 22:13] shaobo-he commented on #641
Fixed via 7b0688d141b5f5e4fafe11f51f2434a7776f1bfb

[2020-11-12 22:13] #641 closed

[2020-11-17 00:53] shaobo-he opened #645 "SMACK crashes on Cargo-built bitcode"
Issues:

- [x] Devritualization pass produces invalid return statements when the targets are empty
- [x] SMACK's optimization pass (presumably `RustFixes`) leads to function declarations with internal linkage.
- [x] Performance issue of sea-dsa: https://github.com/seahorn/sea-dsa/commit/4d460bb1f013229b3a6c67770429a584d11959b8
- [x] Optimization pass issue of sea-dsa: https://github.com/seahorn/se

[2020-11-19 22:23] shaobo-he opened #646 "Problematic handling of LLVM arithmetic with overflow intrinsics"
Current integer-overflow checking assertions are inserted whenever an LLVM arithmetic with overflow intrinsics occur. This is incorrect because such intrinsics are not necessarily used for integer-overflow checking. For example, ` __builtin_add_overflow` is compiled to one of the intrinsics. We need to decouple the handling of these intrinsics with overflow checking.

[2020-11-19 22:58] shaobo-he opened #647 "Proposal: generalize integer overflow checking to undefined behavior checking"
This is related to #646. One of the solutions to #646 is to replace the calls to `__ubsan_handle_*` functions with `assert false`. If we do this, wouldn't it make more sense if we allow more undefined behavior checking since UBSan allows a fine-grained selection of UB checks.

[2020-11-19 23:00] shaobo-he opened #648 "Proposal: enable trap instruction checking"
Currently we do not interpret LLVM trap instruction. But it can show up when, for example, `ftrapv` is enabled at the time of bc code production.

[2020-11-19 23:04] shaobo-he opened #649 "Proposal: revive compilation database frontend"
Currently we rely on wllvm when building a C/C++ project. This is inconvenient because we cannot add our SMACK-specific flags easily as well as control the compilation process (e.g., by passing the link stage which causes us tons of trouble). Furthermore, there seem to be several mature tools that can capture the compilation process of various build tools and emit compilation database. Therefore,

[2020-11-20 13:06] octopus-yun opened #650 "Wrong c line number in generated bpl file"
Hallo,

I am working with Hernan @hernanponcedeleon and developing the Dartagnan to generate a graph with failed c program. And I need to select the useful information from transformed bpl file (with cmd smack  -t path-for-cfile -bpl bpl-file-name --clang-options=-DCUSTOM_VERIFIER_ASSERT), then I have found that some events were shown in generated bpl file with a wrong line number from c file.
For

[2020-11-21 03:01] shaobo-he opened #651 "Motivation for context-sensitive DSA/memory model"
I found a strong motivation for context-senstive DSA or memory model: when malloc is wrapped. Consider the following program,

[code]

`a` and `b` points to disjoint objects while SMACK assigns the same memory region for them. This is because we use a context-insensitive DSA. In SV-COMP benchmarks, such a pattern is very common in the software system category.

[2020-11-21 03:03] zvonimir commented on #651
There were pull requests and issues in the SeaDSA project that made me think that you can manually provide malloc wrappers to DSA. So we could potentially try to do that since there would be only a few.

[2020-11-21 03:05] shaobo-he commented on #651
This issue also shows up in our implementation of rust box.

[2020-11-22 00:20] zvonimir commented on #650
Hi! Thanks for reporting this!
We are busy with SVCOMP :), but I'll try to take a look this coming week.
Note that in general line numbers in SMACK are only as good as debug info that clang generates. Typically, clang generates pretty good debug info, but we've certainly seen programs where debug info is off. We'll get back to you.

[2020-11-23 19:32] hernanponcedeleon commented on #650
Thanks @zvonimir for the pointer. Assuming you get the debug Information via `-g` flag, it seems clang is providing the correct one (see [sample.ll.zip](https://github.com/smackers/smack/files/5585338/sample.ll.zip)).

The `$i4, $i5, $i6` instructions are coming from
[code]
and the following debugging info
[code]

[2020-11-29 00:59] shaobo-he opened #657 "Generalize SplitAggregateValue's handling of aggregate constants"
Currently, only certain uses of aggregate constants (e.g., return inst) are handled in the `SplitAggregateValue` pass. We should be able to generalize the handling of all uses of aggregate constants.

[2020-11-30 08:59] shaobo-he commented on #649
Update: it seems most tools producing compilation databases do not handle linking commands.

[2020-12-02 12:11] hernanponcedeleon opened #659 "boogie to C mapping"
Thanks to #650 I learned that you are using some of clang debug information for e.g. getting the C line numbers.

I also noticed that clang provides information about variable declarations e.g.
[code]
Would it be possible to use such information to have a mapping between the boogie variables and the corresponding C ones? This would be super useful for e.g. witness generation.

[2020-12-05 01:25] shaobo-he opened #660 "Proposal: convert C string zero initializers to memset"

[2020-12-05 01:27] shaobo-he commented on #659
Hi @hernanponcedeleon, you should be able to find `boogie_si_record_*` calls in the Boogie code generated by SMACK. They serve as a mapping from C variable names to Boogie variables.

[2020-12-05 01:33] shaobo-he commented on #650
Hi @hernanponcedeleon I assume the code fragment you attached is before the optimization passes applied by SMACK, some of which cannot preserve debug information. For example, we use the `mem2reg` pass which converts stack allocations into registers. Therefore, load/store instructions involving stack allocations will be removed as well as their debug info.

[2020-12-05 01:34] shaobo-he commented on #651
Another example is `strlen`.

[2020-12-05 13:03] hernanponcedeleon commented on #659
I cannot believe how I miss this!!!
This is exactly what I needed. Thanks @shaobo-he

[2020-12-05 13:03] #659 closed

[2020-12-08 08:10] hernanponcedeleon commented on #650
@shaobo-he the code I gave above was obtained using directly clang (with no optimisations).

However I would assume that if some debug information is lost during the optimisation passes, the SMACK would not create the corresponding `:sourceloc`tag for those instructions. For instructions `$i4, $i5, $i6` (which are stores involving stack allocations), I would not expect to see the line `assume {:so

[2020-12-09 21:13] shaobo-he opened #662 "Proposal: capture C expression to boogie_si_record_* calls"
Currently, we don't support concrete values for structure fields in the counterexamples. It would be great if we can support them at least by annotation. One way to implement it is to borrow the implementations of the `assert` macro.

[2020-12-11 20:16] shaobo-he opened #663 "Memory safety instrumentations should carry debug information of memory access instructions"
Now we have weird error traces because of this.

[2020-12-14 19:22] #662 closed

[2020-12-14 19:23] #660 closed

[2020-12-14 19:23] #651 closed

[2020-12-14 19:24] #649 closed

[2020-12-14 19:24] #648 closed

[2020-12-14 19:25] #647 closed

[2020-12-15 00:08] shaobo-he opened #668 "SMACK reports errors for freeing NULL pointers"
Consider the following program,

[code]

SMACK returns an error for mem-mod `no-reuse` and `reuse` but not for `no-reuse-impls`. This is because the requires clauses for `free` enforce the argument to be greater than 0.

[2020-12-17 03:06] zvonimir commented on #623
This is fixed now.

[2020-12-17 03:06] #623 closed

[2020-12-17 03:08] zvonimir commented on #535
We are not supporting Travis any more. We switched to github actions instead. So I am closing this one.

[2020-12-17 03:08] #535 closed

[2020-12-17 03:57] shaobo-he commented on #620
@hayley-leblanc we finally fixed all the issues related to this issue. The current develop branch should work fine on your examples. Please let us know if it doesn't work.

[2020-12-17 19:26] hayley-leblanc commented on #620
@shaobo-he It works when I use `--clang-options='-fshort-wchar'`! Thank you so much!

[2020-12-17 19:26] #620 closed

[2020-12-19 01:22] shaobo-he commented on #22
I was wondering if it's still valid to assume that undefined values should hold the same value. I couldn't find any references now and intuitively they should be distinct.

[2020-12-19 01:55] zvonimir commented on #22
How do we translate this now?

[2020-12-19 02:03] shaobo-he commented on #22
We create a global variable for undefined values of a type.

[2020-12-19 02:19] zvonimir commented on #22
If I remember this correctly, undef is between our current implementation and using verifier_nondet to model it. In particular, I think that undef in a loop for example should always evaluate to the same nondeterministic value. If that makes sense.
I can't find this discussion anywhere now.

[2020-12-21 06:42] #668 closed

[2020-12-22 18:17] #663 closed

[2020-12-22 20:30] zvonimir commented on #614
Hi Shaobo. Coming back to this. Soundness and completeness mean two different things. Unsound means that bugs can be missed, while incomplete means that false bugs can get reported. So I don't quite understand your argument to use unsound instead of incomplete. Could you please elaborate? Thanks!

[2020-12-23 08:35] #551 closed

[2020-12-23 08:39] #573 closed

[2020-12-23 09:08] shaobo-he commented on #497
I cannot reproduce this bug now. @keram88 please reopen it if you find it otherwise.

[2020-12-23 09:08] #497 closed

[2020-12-23 09:09] shaobo-he commented on #476
Closed this issue as it's too old and hard to reproduce.

[2020-12-23 09:09] #476 closed

[2020-12-23 09:12] shaobo-he commented on #427
Closed this issue as Symbooglix is no longer developed. @JiaxiangLIU please feel free to reopen it if you can it necessary.

[2020-12-23 09:12] #427 closed

[2021-01-10 12:16] hernanponcedeleon commented on #545
I have a question about the wrapper. I noticed that (in some cases) you use a check w.r.t to some very big numbers.
[code]
While this should not a problem for a "pure" integer encoding in an STM solver, I just noticed that Z3 only allow values (when calling ctx.mkInt()) that fit in a long.

I wonder is you have encountered any problems during verification due to this?

[2021-01-10 22:33] shaobo-he commented on #545
Hi @hernanponcedeleon,

No, we haven't seen any problems related to this. Z3 should be able to handle arbitrarily large integers per SMT specifications. I think creating literals for large numbers using Z3 bindings could be cumbersome. For example, the numbers used in such functions need to be created by passing their string forms (i.e., using `Z3_mk_numeral`).

[2021-01-10 22:58] hernanponcedeleon commented on #545
Ohhh I haven't noticed I can also pass Strings in the constructors.
Thanks for the hint.

[2021-01-12 00:03] shaobo-he commented on #614
Ok. I think what you said makes more sense. Let me update the names.

[2021-01-16 02:45] zvonimir commented on #614
This is fixed.

[2021-01-16 02:45] #614 closed

[2021-01-20 23:44] shaobo-he opened #679 "Incorrect output when --max-violations is greater than 1"
For example,

[code]

If SMACK is invoked as `smack test.c --max-violations 10`, then the output is `SMACK found no errors with unroll bound 1.`

[2021-01-22 21:59] shaobo-he opened #682 "False alarm when the integer encoding is wrapped integer"
Consider the following program (a C version of `test/rust/array.rs`),
[code]

SMACK verifies it when the default integer encoding is used while reports an error when wrapped integer issued. This is because `idx` can get a value `-2**64` which satisfies the assumptions ($ule.i64(idx, -1) && $uge.i64(idx, 0)) in `__VERIFIER_nondet_unsigned_long_long`. However, `arr[-2**64]` is clearly uninitialized

[2021-01-23 20:01] zvonimir commented on #682
Sorry, but what should be the expected outcome of verifying this program? Thx!

[2021-01-23 20:19] zvonimir commented on #679
Is this because LLVM maybe compiles away these assertions or something like that? What is the root cause of this? Is the generated Boogie file ok?

[2021-01-23 20:59] shaobo-he commented on #682
It should be verified.

[2021-01-23 21:34] shaobo-he commented on #679
No, this is because Corral's output shows one error and one successful verification. Corral turns `assert 2 == 3` into `assume 2 == 3` and continues the verification. Our `verification_result` function first captures the successful verification message and returns verified.

Btw, SMACK's output only shows `SMACK found an error`, which seems inconsistent with `--max-violations` being greater than o

[2021-02-01 02:17] shaobo-he commented on #615
It appears this comes from this line: https://github.com/smackers/smack/blob/bbf96881b90fc94ea71bc83986241f3282f6e7c9/share/smack/utils.py#L74

[2021-02-05 18:31] zvonimir commented on #615
This has been fixed. Closing.

[2021-02-05 18:31] #615 closed

[2021-02-17 14:04] hernanponcedeleon commented on #628
@shaobo-he, did you have the change to take a look to this?

[2021-02-24 00:34] shaobo-he opened #691 "Upgrading SMACK to LLVM 11"
Hey guys,

I just did a quick experiment to upgrade SMACK to LLVM 11. It seems the most challenging part is to handle LLVM's change where implicit cast from `llvm::StringRef` to `std::string` is removed. This motivates us to think about the question of whether we should just use `llvm::StringRef`.

[2021-02-24 03:54] zvonimir commented on #691
Could you give me an example? They removed such cast?

[2021-02-24 04:08] shaobo-he commented on #691
https://github.com/smackers/smack/blob/ae85a253ccde7da04f3c37ddc9c76425ed0b3e85/lib/smack/IntegerOverflowChecker.cpp#L124

Clang reports a compilation error for the line above because `getName` returns `StringRef` while `isSmackName` accepts `std::string`.

[2021-02-24 04:20] zvonimir commented on #691
Ok, got it. I think there are two solutions here:
(1) Every time we expect a `std::string` and LLVM gives us `StringRef`, we create a string from it. So there is a level of indirection here.
(2) Instead of using `std::string` we switch to using `StringRef` in our code.

To me it seems that (2) is probably a slightly better solution.

[2021-03-03 00:28] shaobo-he opened #694 "Cargo support doesn't handle staticlib with `crate_name` attribute"

[2021-03-03 23:57] shaobo-he opened #695 "Capture Cargo build options"
It seems we need to capture Cargo build options as a package can contain libs and multiple binaries. The target selection options of Cargo are needed for this case.

[2021-03-04 05:55] shaobo-he commented on #645
Fixes via #689

[2021-03-04 05:55] #645 closed

[2021-03-15 20:50] #694 closed

[2021-03-16 16:08] zvonimir opened #703 "Vagrant is broken"
I get this error when I do `vagrant up`:
[code]
I think this is related to @shaobo-he's recent updates.

[2021-03-16 16:08] zvonimir commented on #703
@shaobo-he please take a look at this one. Thanks!

[2021-03-16 16:19] zvonimir commented on #703
The error happens only when I run just `build.sh`. When I add `INSTALL_DEV_DEPENDENCIES=1 INSTALL_RUST=1` in front of it, the problem disappears it seems.

[2021-03-16 20:36] shaobo-he commented on #703
This is because Ubuntu 20.04 doesn't ship a C++ compiler. So we had to install one. Let me do a quick fix.

[2021-03-16 22:25] shaobo-he opened #705 "Docker images seem too large"
Our docker images are around 2.4G which seems too large.

[2021-03-16 22:41] shaobo-he opened #706 "errno's definition only works on Linux"
macOS defines this symbol as `__error()`.

[2021-03-17 04:27] #703 closed

[2021-03-17 07:45] shaobo-he opened #708 "Redundant steps in CI"
Currently, our CI spawns a dozen of jobs, each of which builds SMACK and tests a folder. So the build step seems redundant. I think maybe a better idea is to build a Docker image first and run that image on each folder in parallel.

[2021-03-17 15:57] roxanaRA opened #709 "Question regarding D support"
Hello,

I am working on a project to verify D contracts and I want to use SMACK. I saw that SMACK has support for D.

Are there some new/missing functionalities which could be added in SMACK in order to extend the support for D?

[2021-03-17 16:20] zvonimir commented on #709
Thanks for your interest in SMACK! Our support for D is most definitely prototypical, but D seems to be the kind of language that is well without our reach.
It would be super useful for us if you could send a few (smallish) benchmarks our way, since that would drive our development. We are definitely interested in helping out to make D support more mature.

[2021-03-17 16:21] zvonimir commented on #708
I don't think this is a big problem. CI is pretty fast now that we switched to actions. I would not worry about this. Also, this adds a level of indirection into the CI process, which then makes it harder to debug it and root cause problems.

[2021-03-17 16:55] roxanaRA commented on #709
Thank you for your response.

Can you give me some details/examples of the benchmarks you mentioned?

[2021-03-17 23:15] keram88 commented on #709
Hello,
Some examples of small benchmarks (and supported/unsupported features) can be found here: https://github.com/soarlab/gandalv/tree/master/d
New benchmarks would come from programs which unexpectedly fail, which have been reduced to some unsupported feature of the language.

[2021-03-17 23:26] keram88 opened #710 "Memory instructions from the SplitAggregateValue pass are unnecessarrily checked in memory-safety mode"
We model accesses to aggregate values by adding `load/store` instructions to the IR to match corresponding `store/load` instructions. This requires pointer arithmetic which is later instrumented for checking by the `MemorySafety` pass. Metadata annotations my be able to mark these operations to bypass checking, but there may be a better approach.

[code]

The `SplitAggregateValue` pass adds the fo

[2021-03-18 00:26] #532 closed

[2021-03-18 16:13] zvonimir commented on #709
To clarify this further, if you could send our way examples of D programs that you would like to verify, that would be great!

[2021-03-18 18:34] shaobo-he commented on #171
As of commit id 4894245, this example still doesn't work for Boogie but does for Corral.

[2021-03-18 19:52] zvonimir commented on #171
Wait, setting `loop-limit` seems to be a noop for Boogie. Right?
Boogie doesn't use that command line argument since that functionality is not supported.

SMACK should probably throw an error when `--loop-limit` is used with Boogie (or anything else other than Corral I guess).

[2021-03-18 19:59] shaobo-he commented on #171
Sorry for the confusion, I actually used the `--unroll` flag.

[2021-03-18 20:24] zvonimir commented on #171
Is there unroll number that actually works?
This might also be a SMACK bug somehow.

[2021-03-18 20:52] shaobo-he commented on #171
Let me test. Corral works with unroll bound 3.

[2021-03-18 21:56] zvonimir commented on #171
I searched my email. Here is an old one from Shuvendu:
[code]
Basically, this is not a bug, but expected behavior. You could of course try to implement a different loop unrolling in Boogie, that would match what Corral does and that would be more intuitive. But I think until then we are stuck with what Boogie already implements.

[2021-03-18 23:28] shaobo-he commented on #171
Thank you for the reply. This is very helpful. Can we close this issue now?

[2021-03-19 02:14] zvonimir commented on #171
Closing.

[2021-03-19 02:14] #171 closed

[2021-03-19 12:02] roxanaRA commented on #709
Thank you for your answer.

[2021-03-19 12:02] #709 closed

[2021-03-24 01:12] keram88 opened #713 "Allow targetted memory-safety checking"
Hello,

SMACK's memory-safety checking currently applies to every function which accesses memory. However, this behavior is not always necessary. For example, some languages such as Rust have have "safe" subsets that can be assumed to be memory-safe. In this circumstance, it may be desirable to only check memory safety on functions which are determined to be potentially unsafe.

Because it may be

[2021-03-25 10:15] Sword-of-Damox opened #714 "Run smack with solver cvc4 get `Unexpected prover response` error"
Hello, Smacker's. I encountered a problem when using smack with cvc4 as solver.
I run smack with following code:
[code]
with command: `smack -v --check=memory-safety test-1.c -bpl test1.bpl --entry-points test1 --solver cvc4`

here's what I got:
[code]

I dont known, is there my installation problem for cvc4 or cvc4 just dont work with corral?
I checked with boogie also, with command: `smack -v --

[2021-03-25 17:40] zvonimir commented on #713
This is a great feature to implement, and we've seen the need for this in the past as well. I think we should maybe briefly meet to discuss this.

[2021-03-25 17:47] shaobo-he commented on #713
I think this also enables some optimizations such as if a pointer points to a statically known size of memory.

[2021-03-25 17:49] zvonimir commented on #713
I don't understand how this feature would enable that?

[2021-03-30 03:46] #691 closed

[2021-04-02 21:08] zvonimir commented on #714
Thanks for reporting this. I managed to reproduce it, and the issue seems to be related to incompleteness of CVC4. I filed the following issue with CVC4 developers, and we'll see what they say: https://github.com/CVC4/CVC4/issues/6274

[2021-04-02 22:33] zvonimir commented on #708
I think this is not a high priority since our CI is pretty fast these days. Closing it.
@shaobo-he feel free to reopen it.

[2021-04-02 22:33] #708 closed

[2021-04-02 22:35] zvonimir commented on #562
Coming back to this. Do we know why this is happening?

[2021-04-02 22:36] zvonimir commented on #646
I don't quite understand this issue. Are you saying we are injecting checks even when overflow checking is not enabled in the command line?

[2021-04-08 21:28] shaobo-he opened #716 "Unnecessary calls to `$galloc` procedures for certain globals"
Currently, we add calls to `$galloc` procedures for globals that do not get involved in memory accesses. For example,

[code]

SMACK generates a call to `$galloc` with the pointer to `"aaa"` as the argument.

This can significantly reduce the performance of SMACK's memory-safety checking as `$galloc` adds quantified constraints.

[2021-04-12 02:12] Sword-of-Damox commented on #714
Thanks, zvonimir !! I will follow this question on that branch.
And since my question is not about Smack, I will close this issue. Thanks all.

[2021-04-12 02:12] #714 closed

[2021-04-12 19:29] keram88 opened #717 "Modeling LLVM's poison values"
Smack does not currently model LLVM's `poison` values. These arise as the result of invalid computations.
It's not clear what this actually means for verification, however these can arise, for example, from generating out-of-bounds addresses with a `getelementpointer` instruction marked `inbounds`. Memory safety checking will detect this specific case, but a poison value pointer could be brought b

[2021-04-12 22:18] shaobo-he opened #718 "Let function definitions in SMACK's libraries override these defined in input files"
Some real-world examples contain definitions of `malloc`, `memcpy`, `memset`, etc. If we just link them in, symbol conflicts arise. I think maybe we should set higher priorities for SMACK's definitions (i.e., let them override their counterparts in input files) via the `--override` flag of `llvm-link`.

[2021-04-12 23:15] shaobo-he opened #719 "Invoke instructions to vararg functions are not handled properly"
SMACK produces calls to undefined procedures.

[2021-04-12 23:43] shaobo-he commented on #718
If we decide to do so, we have to make sure that our implementation of `malloc` returns before the actual body. I saw interesting bug like the custom `malloc` calls `foo` whereas `foo` I defined calls `malloc`.

[2021-04-20 21:29] zvonimir opened #720 "Simplify Yices2 installation"
Once a new release of Boogie gets pushed out, we should be able to remove this line: https://github.com/smackers/smack/blob/develop/bin/build.sh#L386

[2021-04-22 13:15] sanjit-bhat opened #721 "Implicit type conversion"
I'm not completely sure, but it seems like SMACK doesn't model implicit type conversion as per the C spec. For a concrete MVE, the following code in SMACK gives me an assertion error with `a = 2147483648UL (-2147483648)` and `b = 6UL`. I ran SMACK with `--integer-encoding=bit-vector`.
[code]

In the above example, the assertion should always pass. [The C ISO](http://www.open-std.org/jtc1/sc22/wg14

[2021-04-23 02:41] keram88 commented on #721
Hi @sanjit-bhat,

Did you mean `unsigned int b = ...` in your first example? It appears you are comparing two signed ints in that example, which I believe shouldn't undergo any conversion in the comparison, so this should produce an assertion violation.

It's been a while since I've reviewed C's promotion rules, so I could be wrong, but I think SMACK is doing the right thing here. Changing the typ

[2021-04-23 02:53] zvonimir commented on #721
Indeed, there is a discrepancy between the program you are verifying using SMACK and the C code you are using to test the counterexample. If I change the program you are trying to verify into (I changed `b` to be `unsigned int`):
[code]
then the assertion is passing when I invoke SMACK on it.

[2021-04-23 02:54] zvonimir commented on #721
Alternatively, if I change your C program to match the program you are trying to verify (so `b` is just `int`):
[code]
then this assertion is indeed failing when I compile and run it.

[2021-04-23 03:03] sanjit-bhat commented on #721
Hi @keram88 and @zvonimir,

Thank you both for your quick responses! You're right, that was a typo on my part when creating the issue.

I also realized I was alternating between using `smack` with and without `--integer-encoding=bit-vector`. It turns out that with the changed program, it fails without bit-vectors, but it passes with bit-vectors. I didn't realize that bit-vectors were needed for pr

[2021-04-23 03:09] zvonimir commented on #721
Great!

As a side note, this is a long story, but we have this issue when bit-vectors are not used because LLVM IR does not distinguish between signed and unsigned integers. Other LLVM IR based verifiers struggle with the same problem.

Absolutely! When you reported this, my first thought was exactly that we should really be issuing warnings about this. I'll create a pull request addressing this.

[2021-04-23 03:19] sanjit-bhat commented on #721
Oh... that's an interesting point about LLVM. I saw that when I was comparing the IR for signed/signed and signed/unsigned relational operators. Both bitcodes had `i32` operands. The only thing that changed was the `icmp` instruction went from `sgt` to `ugt`.

I assume this detection would happen at a higher level than the LLVM extraction stage?

[2021-04-23 19:10] zvonimir opened #722 "Cleaning up SmackWarnings naming convention"
I would like to clean up our naming convention in SmackWarnings since I think what we have now is confusing.
So we have these 3 functions: `warnUnModeled`, `warnIfIncomplete`, `warnImprecise`.

I don't know what each of them means. Taking a step back, we have 3 cases:
- We encode something as an overapproximation. We should then have `warnOverapproximate`. This is when we are sound (we cannot miss

[2021-04-23 19:11] zvonimir commented on #722
@shaobo-he Could you help me out here please?

[2021-04-23 19:32] zvonimir commented on #722
I get it! We should name them: `warnOverApproximate`, `warnUnderApproximate`, and `warnApproximate`!

[2021-04-27 03:09] shaobo-he opened #724 "Undefined behavior in `ExtractContracts.cpp`"
See:

https://github.com/smackers/smack/blob/465280b2433d3b61d1ebfc86f4ffb39ad0c047f3/lib/smack/ExtractContracts.cpp#L95

`LI.getLoopFor(B)` could be a nullptr if `B` is not in `LI`. We haven't hit a crash probably because it's a method call that doesn't access `this`.

[2021-04-27 10:05] hernanponcedeleon commented on #628
Hi @shaobo-he, any change you might have some time to take a look to this?

Sorry to be "pushy" but since @zvonimir said it should be doable, I decided to give it another try :D ... specially because now we are having quite a few problems because of this with benchmarks using structs

[2021-04-27 14:58] #721 closed

[2021-04-29 14:10] zvonimir commented on #713
This is done. Closing.

[2021-04-29 14:10] #713 closed

[2021-04-30 05:35] feliperodri opened #727 "Error building SMACK from source on older versions of Ubuntu >18.04"
I'm trying to build SMACK from source on Ubuntu 16.04.7 LTS using the `bin/build.sh` script, but I'm getting the following error:
[code]

I tried to use `-std=c++14` flag or to use `clang`, but neither worked.

I also try these [instructions](https://github.com/smackers/smack/blob/master/docs/installation.md#super-quick-setup-virtual-smack) to get `vsmack`, but the link seems broken. Any advice?

[2021-04-30 06:15] shaobo-he commented on #628
Hi @hernanponcedeleon, sorry for the late reply. I've been busy with work stuff and a paper deadline recently. I think I'll have some time to take a look at this over this weekend.

[2021-04-30 21:37] shaobo-he commented on #628
Hi @hernanponcedeleon, I implemented something simple in 3aa7c34. Basically, it adds `:allocSize` attribute to globals. Please note that this size is derived from LLVM's `getTypeAllocSize` which includes alignment padding as opposed to `getTypeStoreSize`. We can easily change that if the latter is actually preferred. Could you give it a try and see that's what you want? If it looks good, I'll crea

[2021-05-01 15:46] zvonimir commented on #727
Thanks for reporting this. I've been looking into it, and so far no luck.
Btw, any chance you could update to a more recent version of Ubuntu?
It's been kind of hard to debug this on 16.04.

[2021-05-01 15:52] zvonimir commented on #727
Also, have you maybe tried using our Docker build?

[2021-05-01 16:06] feliperodri commented on #727
Of course, which Ubuntu version works for ya?

[2021-05-01 16:08] feliperodri commented on #727
Nope, but I can give it a try too. Btw, wouldn't be easier just to follow these [instructions](https://github.com/smackers/smack/blob/master/docs/installation.md#super-quick-setup-virtual-smack) and get `vsmack`? Could you fix the link?

I'm trying to evaluate SMACK on C++ programs, is there any documentation (e.g., specific configurations) that I should be aware for that?

[2021-05-01 16:18] zvonimir commented on #727
When you run `/bin/build.sh` on Ubuntu 20.04, it should build SMACK without any problems. So I would suggest you give it a try on Ubuntu 20.04.

We haven't really been maintaining `vsmack` for a while since nobody was really using it. I will look either into updating it or discontinuing it.

SMACK has not been extensively used on C++ programs. We do know that dynamic dispatch does not work. If you

[2021-05-01 16:27] zvonimir opened #729 "Update (or maybe remove) vsmack"
I just realized how outdated `vsmack` is. In fact, I could not get it up and running on my machine. And the SMACK version it comes with is ancient. We should do something about it - we should either update it and clean it up if needed, or we should remove it.

[2021-05-01 16:27] zvonimir commented on #729
@michael-emmi Any thoughts on this?

[2021-05-01 17:28] feliperodri commented on #727
I also tried to build on Ubuntu 18.04, but I got the following error:
[code]

I'm gonna set up an Ubuntu 20.04 instance and give a try.

[2021-05-01 18:28] feliperodri commented on #727
I tried to verify the following C++ program with the command line `smack main.cpp` on Ubuntu 20.04
[code]
I got the following error
[code]

Did I mess up something during installation or it is legit bug in SMACK? @zvonimir

[2021-05-01 18:44] feliperodri commented on #727
I manually copied everything
[code]
and manually installed Corral. It seems to work now. I get the following message:
[code]

[2021-05-01 18:46] feliperodri commented on #727
For the following program
[code]
I get a false positive
[code]
Is there any specific flags I should be using in this case?

[2021-05-02 12:40] hernanponcedeleon commented on #628
@shaobo-he thanks! it looks good to me.

Just a short question before you merge. Is this (`getTypeAllocSize`) the same one you are using for computing your static heap allocation? The few examples I checked suggest that for every global variable, you assign it to some negative address and the difference between the addresses of two (consecutive) variables is 1024 + size of the variable (w.r.t `get

[2021-05-02 15:43] michael-emmi commented on #729
I'm not aware of anybody who is using this, so there's probably no reason to maintain it.

[2021-05-03 08:31] hernanponcedeleon opened #730 "Segmentation fault when running smack (MacOS)"
I updated the smack version in my Mac (everything worked in Linux) and now I'm getting some segmentation fault problems when running the tool (I get the same result in branches master, develop and v2.7.0):

[code]

~1/5 of the times, the command works. Attached is the generated `.bc` file.

Any idea what the problem might be?

**OS version:** MacOS Big Sur (version 11.3)

**Compiler version:**
[co

[2021-05-03 18:13] shaobo-he commented on #628
No, the size in `1024 + size` is actually more complicated than the `allocSize` attribute. That being said, the essential case for the former leverages LLVM's `getTypeStoreSize`.

[2021-05-04 00:48] Piruzzolo opened #731 "Idea: Use smack as a Clang drop-in replacement"
It would be nice to have smack as a clang drop-in replacement, so we'd just need to call smack with all the clang arguments plus the args to smack as arguments to the custom llvm pass.

Moreover, this way you could just set the env var CC or CXX and all would compile as usual, plus the memory checks and such.

[2021-05-04 06:43] shaobo-he commented on #730
Hi @hernanponcedeleon, I can't seem to reproduce the error on my WSL. I'll try it on a macOS tomorrow. In the meanwhile, I think vagrant or Docker is currently the preferred way to run SMACK on OSes other than Linux.

[2021-05-04 06:46] #731 closed

[2021-05-04 07:21] hernanponcedeleon commented on #628
All good from my side so please go ahead with the PR.

Thanks for implementing this.

[2021-05-04 07:21] #628 closed

[2021-05-04 23:44] #729 closed

[2021-05-07 21:41] shaobo-he opened #734 "Dummy main functions may be needed"
Please see: https://github.com/seahorn/sea-dsa/issues/126

[2021-05-08 00:25] shaobo-he opened #735 "Crash when there are bitwise operations on vectors"
https://github.com/smackers/smack/blob/465280b2433d3b61d1ebfc86f4ffb39ad0c047f3/lib/smack/SmackInstGenerator.cpp#L341-L344

We need to restrict the condition here.

[2021-05-08 00:43] shaobo-he opened #736 "Incorrect Translation for Vector Comparison Operations"
https://github.com/smackers/smack/blob/21fc78824418394784cffac4e57b76c156d4799b/lib/smack/VectorOperations.cpp#L121

The constructor's type should be a vector of `i1`.

[2021-05-10 12:56] ThomasHaas commented on #730
Hi, I run into the same exact problem on my Mac. The error I get is pretty much identical to that of @hernanponcedeleon.

[2021-05-19 03:34] shaobo-he opened #737 "Vagrant installation guide too restrictive"
There are multiple providers for vagrant. For example, Hyper-V is shipped with Windows 10, so its users do not have to have VirtualBox installed.

[2021-05-19 03:36] zvonimir commented on #737
Have you tried it with anything else?

[2021-05-19 04:57] shaobo-he commented on #737
I tried Hyper-V on my desktop. It works mostly smoothly except for some configurations (e.g., SMB) in which Vagrant provides detailed information.

[2021-05-19 07:00] shaobo-he opened #738 "Incorrect region generation for ptrtoint/inttoptr arguments"
Consider this program,

[code]

SMACK reports a spurious error. This is because `x` points to a different region than `&y`.

[2021-05-19 07:49] shaobo-he commented on #738
Follow-up: this is because `RemovePtrToIntPass` eliminates the `ptrtoint` operation but not `inttoptr` as well. So we have only one complicated node.

[2021-05-25 22:47] zvonimir commented on #628
This has (finally) been merged. I apologize for the delay.

[2021-05-26 08:29] hernanponcedeleon commented on #628
NP. Thanks for taking care of this

[2021-05-31 21:41] zvonimir commented on #735
Can you provide a regression?

[2021-05-31 21:42] zvonimir commented on #736
Could you provide more information and/or a regression?

[2021-05-31 21:44] zvonimir commented on #734
I see. So what are the trade-offs here?
I would guess it should be pretty easy to implement such a pass.
What are we losing when compared to our current approach?
What are we gaining (apart from SeaDSA working properly)?

[2021-06-02 00:15] zvonimir commented on #737
Ok. Yeah, this makes sense. So maybe we should update our documentation a little bit.

[2021-06-07 20:10] keram88 opened #739 "Convert implicit Rust assertions into smack assertions without including the crate"
Currently the following:
[code]
will pass in SMACK because this generates an assertion failure in the standard library. This should require checking for the symbols generated from here to convert into the relevant `__VERIFIER_assert` call.

[2021-06-11 04:31] zvonimir commented on #724
This is fixed.

[2021-06-11 04:31] #724 closed

[2021-06-11 23:23] zvonimir commented on #616
First of all, we should add a better error message if the top-level procedure is not found. I can do that.

Now, how do you suggest we go about fixing this?
I don't see an easy fix.

[2021-06-14 19:24] zvonimir commented on #727
@feliperodri I just pushed fixes to the develop branch that resolve your C++ issues.

[2021-06-14 19:24] #727 closed

[2021-06-15 03:07] zvonimir commented on #706
What do you mean?
I looked this up. We don't even define `errno` as far as I could see anywhere in SMACK source.
I also read OS X documentation, and it seems that it does provide `errno`.
Either way, there is not enough information here for me to be able to understand what exactly the problem is.

[2021-07-02 01:31] zvonimir commented on #734
@keram88 Can you implement this pass (by looking at the SeaHorn one)?

[2021-07-02 21:32] keram88 opened #744 "PhantomData in the Rust model is not needed"
SMACK can now support the PhantomData structure from standard Rust, so the model in `smack.rs` is no longer needed.

[2021-07-07 21:09] keram88 opened #745 "Keep track of whether memory is allocated by Rust's allocator"
SMACK should be able to check if Rust's allocator is used on memory originating from a different allocator. For example, a pointer from C allocated with `malloc` may be obtained through Rust's FFI. It should be an error to then use Rust's `dealloc` function to free this memory since it cannot be guaranteed that they originate from the same allocator.

[2021-07-08 07:55] TheKingShun opened #746 "Can I take LLVM-IR in another language(such as solidity) as input to this tool?"
i want to verifiy solidity
so i have llvm ir
can i do this ?

[2021-07-08 12:21] TheKingShun commented on #746
i have another question：
Corral is currently the default back-end，why not Duality ,Duality  builds upon Corral

[2021-07-09 14:42] zvonimir opened #747 "Document SMACK command line options"
We should really do this properly since it often causes confusion for our users.

[2021-07-10 23:22] zvonimir commented on #746
Thanks for your interest in SMACK.

To answer your first question about solidity. Yes, you can verify (in theory at least) any LLVM IR program with SMACK no matter what the input language was. See for example:
* https://soarlab.org/publications/2020_vmcai_gbhr/
* https://www.ndss-symposium.org/wp-content/uploads/2018/02/ndss2018_09-1_Kalra_paper.pdf

Now to your Duality question. Duality is basica

[2021-07-11 01:21] TheKingShun commented on #746
@zvonimir Thank you very much indeed!!!!!

[2021-07-11 01:24] #746 closed

[2021-07-20 08:35] TheKingShun opened #748 "Docker do not work"
when i try to build SMACK itself by source i meet so many problems so i try docker
but the cmd output is:          fatal: not a git repository (or any of the parent directories): .git

VMware:
Ubuntu20.04LTS

[2021-07-22 01:27] zvonimir commented on #748
What is the command that you used? Could you give up a bit more information about your setup so that we can help you out?

[2021-07-22 01:43] TheKingShun commented on #748
use <Local Build>
1.docker version:20.10.2
2.download smackv2.7.0
3.unzip it & cd smack root
4.run docker build . -t smack
the cmd output: Installing required packages,...... and after a while output:
            The command '/bin/sh -c bin/build.sh' returned a non-zero code: 4

[2021-07-22 16:43] zvonimir commented on #748
@shaobo-he or @keram88  could you help out here?
I don't know docker.

[2021-07-23 02:04] keram88 commented on #748
Hello @TheKingShun,

It seems that one of our dependencies is not present in the zip file version of the release, and the git configuration files aren't available either.
As a work around, can you try running this?
[code]
This should point the cloned SMACK repo at the most recent release version.
This should solve the error reported in your original post.

Best,
Mark

[2021-07-23 03:09] TheKingShun commented on #748
@keram88
Thanks to your help, I succeeded！！！！！！

[2021-07-23 03:09] #748 closed

[2021-07-25 15:47] my-code-cloud commented on #158
I I encountered the same error
`Linking globals named '__VERIFIER_assume': symbol multiply defined!`
when smack is invoked directly on a .bc/.ll file translated by smack and found this related issue on the error.

I think the cause is just as you mentioned:
**smack links links the same header file in the translation and compilation phases under the hood automaticly.**

However, I have not found a

[2021-07-25 21:36] shaobo-he commented on #158
Thank you for your reply. I think #718 could be a solution or something that can be addressed together.

[2021-08-11 21:43] shaobo-he commented on #734
The alias analysis may be unsound if we don't add the main function. This is because some global variables may not be visited by sea-dsa if the entry point is not `main`.

[2021-08-11 21:44] shaobo-he commented on #722
This issue has been fixed. Closed.

[2021-08-11 21:44] #722 closed

[2021-08-12 19:47] shaobo-he opened #749 "`memcpy` Merges Regions Unnecessarily"
Consider the following program,

[code]

`a` and `b` point to the same node. Converting them into assignments avoids this effect. This is because sea-dsa unifies the nodes pointed by `memcpy`'s source and destination arguments if the element types contain pointers.

SeaHorn has a `memcpy` rewritten pass (https://github.com/seahorn/seahorn/blob/dev10/lib/Transforms/Scalar/PromoteMemcpy.cc), which w

[2021-08-12 20:01] shaobo-he opened #750 "Run Checks in Parallel"
It seems to verify a bunch of assertions at the same time may be too difficult for Z3. For example, when we enable memory safety checking or integer overflow checking, we have assertions in almost every function. I think maybe it's a good idea to run the back-end verifier at function- or assertion-granularity in parallel and see if we can boost the performance of SMACK.

[2021-08-12 20:08] shaobo-he opened #751 "Prune Away Trivially-Proven Assertions"
For memory safety checking and integer overflow checking, we instrument the relevant instructions with checks uniformly whereas a lot of them can be trivially proven. For example, dereferencing a stack variable can be obviously correct.

For memory safety checking, we can adopt SeaHorn's approach where a simple analysis at the LLVM IR level is used to remove trivially proven checks.

For integer o

[2021-08-26 05:46] zvonimir opened #754 "Merge json error traces and pretty printing"
This is inspired by this pull request: https://github.com/smackers/smack/pull/742
It seems that pretty printing of error traces and json error traces are currently separate.
This should be merged into one procedure. Probably json should be generated first, and then we should pretty print from json.

[2021-08-26 05:47] #754 closed, assigned to nobody

[2021-08-31 22:03] shaobo-he commented on #749
After reading the sea-dsa paper, I think I have a better understanding of this. The consequence of memcpy on this example is not that bad because unifying the nodes do not collapse them. However, copying a structure into a byte array could cause node collapse, which further spreads all over the program.

[2021-09-01 00:27] shaobo-he opened #755 "Implement context-sensitive memory model"
## Motivation

Small functions that modify/access pointers such as `strlen`, `strcmp`, and `xmalloc` cause DSA to merge nodes unnecessarily. For example,

[code]

SMACK only generates one region for both `x` and `y` whereas if we choose to use `mystrlen`, SMACK produces two regions. If we adopt a context-sensitive version of sea-dsa, we will get a region for each call site of `strlen`.

[2021-09-02 19:52] shaobo-he commented on #738
One solution is to inline foo manually.

[2021-09-03 14:26] avanhatt opened #756 "`vsmack` link in `installation.md` is dead"
Hi! I was trying to follow `installation.md`, but the link to `vsmack` found [here](https://github.com/smackers/smack/blob/master/docs/installation.md#super-quick-setup-virtual-smack) results in a Github `Page not found`: https://github.com/smackers/smack/blob/master/docs/bin/vsmack

[2021-09-08 22:55] shaobo-he commented on #755
Some background information about sea-dsa:

sea-dsa's context-sensitive analysis produces a graph for each function, where each pointer of the function is associated with a cell. Take one of sea-dsa's regression tests as an example,

[code]

Compiling it with `O1` and invoking the context-sensitive version of sea-dsa produces the following three graphs.

![image](https://user-images.githubusercont

[2021-09-10 03:11] bodycoder101 opened #757 "smack support cpp？"
Hello，
SMACK  support cpp source file verify? I found a cplusplus sub folder in test folder。
but in my parctie in use SMACK，CLANG could compile cpp source file，and generate bc files，but it could not use in bc2bpl，becase functions contain **prefix/suffix** cause the name mangling。

Thanks your replay~

[2021-09-10 06:32] shaobo-he commented on #756
Hey @avanhatt, thank you for your interest in SMACK. vsmack is outdated so we removed it in the latest release. The recommended way to install SMACK is either to use vagrant or Docker. I closed this issue but feel free to reopen it if you think it's not addressed.

[2021-09-10 06:32] #756 closed

[2021-09-16 02:54] zvonimir commented on #617
This is now fixed.

[2021-09-16 02:54] #617 closed

[2021-10-07 02:13] zvonimir opened #759 "Cleaning up smackd stuff"
It seems that initially many years ago `smackd` option (and `smackdOutput` function) were implemented to generate json output for the Eclipse SMACK plugin (that we named smackd). However, this plugin has not been maintained in years, and there is no point in keeping smackd functionality around.
Having said that, after I explored this for a bit, I noticed that `smackdOutput` was being used by the S

[2021-10-07 02:14] zvonimir commented on #759
@shaobo-he you recently refactored this code. Any thoughts on this?
At the very least we should probably rename this function as something else and remove the `smackd` command line option (and maybe replace it with `json`).

[2021-10-07 02:36] shaobo-he commented on #759
You're right about the origin of this function. We used it in the SV-COMP script because it used to generate JSON error traces. I agree it should be removed.

[2021-10-07 02:37] zvonimir commented on #759
Why would we completely remove it? It is kind of nice to have json traces, no?

[2021-10-07 03:06] shaobo-he commented on #759
I didn't think of it when I refactored the code. I thought maybe we still have a need for smackd.

[2021-10-07 03:32] zvonimir commented on #759
Sorry, what do you mean?
Does current `smackdOutput` generate a nice error trace in json format?
Is this error trace the same as the error trace we print on the screen?
Is `smackdOutput` actively used by the SVCOMP script?
This will help me to understand what the heck is going on here :). Thx!

[2021-10-07 04:08] shaobo-he commented on #759
`smackdOutput` used to generate not-so-good error trace in JSON format and it was only used by the SV-COMP error witness generation function, which converts JSON error traces into error witnesses. The PR basically rewrote the JSON error trace generation and therefore made `smackdOutput` a wrapper of `json_output` function.

We can just rename the `smackd` option into something like `json` and remo

[2021-10-07 09:19] martinlester opened #760 "Feature request: Attempt to compute loop bounds. Unroll to bound if possible. Error if not."
Firstly, it's not clear to me exactly how SMACK handles loop unrolling for bounded model-checking. But so far as I can see, loops can be unrolled either by LLVM (before translation to Boogie IVL), or by whatever Boogie verification backend is being used. There are some flags to control that, but it's not obvious to me which part of the process they affect. In any case, the usage notes suggest that

[2021-10-08 06:06] shaobo-he commented on #760
Thank you for the request.

We have an option that enables LLVM's static loop unrolling pass, which unrolls a loop completely if it can determine the loop bound. This option is not enabled by default. The backend verifiers' unrolling option unrolls the loops in the Boogie programs up to a specified bound. If this bound is lower than the actual loop bound, the verification is unsound, meaning SMACK

[2021-10-28 15:10] #759 closed, assigned to nobody

[2021-10-28 15:11] zvonimir commented on #757
SMACK has prototypical support for C++. I am not quite sure what exactly is the problem you are experiencing.
Could you attach a small example here to help you out?

[2021-10-28 15:14] zvonimir commented on #737
Do you want to make this update?
We can say "SMACK has been tested and is commonly used with the following Vagrant setups, but we expect others to work as well:"

[2021-10-28 15:22] zvonimir opened #765 "Heads up: renaming master branch into main"
Here is how you update your local repos: https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/renaming-a-branch

Or you can just checkout from scratch.

[2021-10-28 22:49] shaobo-he commented on #539
I wonder if this kind of memory errors can be ruled out by DSA. Intuitively, a pointer to stack variable should not be able to alias with pointers whose context is above its. For this example,   `&a` whose context is `foo1` and aliases with `p` whose context is ``top''. Of course, when there are recursions or SCCs in the call graph, things get tricky, but I wonder it happens in real world code.

[2021-10-29 19:29] zvonimir commented on #765
This is now done.

[2021-10-29 19:29] #765 closed, assigned to nobody

[2021-11-17 05:09] shaobo-he opened #768 "Implement a per-allocation-site memory-safety checking"
## Motivation

Currently, we only have one bookkeeping variable `$Alloc` for the entire program. We can split it into multiple bookkeep variables such that one variable roughly corresponds to one allocation site (i.e., a call to `malloc` or an `alloca` instruction). Having multiple bookkeeping variables reduces the solver's burden to reason about arrays.

## Implementation Plan

The key idea to im

[2021-11-26 12:21] m-carrasco opened #769 "Running example with SMACK"
Hi,

I successfully created an interactive docker container following [the documentation](https://github.com/smackers/smack/blob/main/docs/installation.md#local-build). However, I ran into some problems when testing this [example](https://github.com/smackers/smack/blob/main/examples/rise4fun/rise_simple_buggy.c).

[code]

Is this the expected behaviour?

Adding `#include <assert.h>` solves this pr

[2021-12-06 23:36] SamuelMarks opened #771 "Multi-language model checking, on inequality modify languages to match correct model?"
So say I had something like this, with arbitrary languages supported by SMACK:

---

[code]
**^Note the type of `bar`**

[code]

[code]

[code]

---

Now I want to compare all the target languages, and point out which one has the 'wrong' structure. I'm confident SMACK can do this.

Next, I want to explicitly specify the right structure (e.g., `bar` should be `float`) and change all source files to

[2022-01-07 01:46] #737 closed

[2022-01-12 23:20] udwuwenhao opened #775 "Verifying Fortran Intrinsic Function ABS"
Hi,

I applied SMACK artifact (for tacas 19) on a Fortran example shown below:

and then SMACK reports an error (assertion failure) found in this program with following message:

/home/tacas20ae/Desktop/artifact/smack/share/smack/lib/smack.c(41,1): This assertion can fail
Execution trace:
    /home/tacas20ae/Desktop/artifact/smack/share/smack/lib/smack.c(1451,3): Trace: Thread=1  (CALL $initialize

[2022-01-31 15:02] hernanponcedeleon opened #776 "Handling thread_local variables"
Can smack handle thread local variables? I have the following C code
[code]
The corresponding llvm code clearly marks `tindex` as `thread_local`
[code]
However I don't see any related difference in the boogie code generated by smack between `threshold_reached` and `tindex`, neither in the constant definition
[code]
nor in the static initialisation
[code]
which suggests that smack just ignores the

[2022-01-31 20:39] shaobo-he commented on #776
Hi, @hernanponcedeleon, I don't think it is used or checked by SMACK. Relevant APIs are `*ThreadLocalMode*` and I don't find them.

[2022-02-01 09:15] hernanponcedeleon commented on #776
I think the following two programs show the problem.
[code]
The above one is correct because both threads increment the same global variable.
[code]
This one however is not because variables are thread local.

[2022-02-03 22:12] shaobo-he opened #777 "Some Rust `Box` operation is internally supported by rustc"
Consider this program,

[code]

SMACK's `Box` implementation fails to type check with the following message，

[code]

It seems `*Box<T>` is not (cannot be) desugared into a call to `deref` but instead is treated uniquely by rustc.

This blog post discusses this issue: https://manishearth.github.io/blog/2017/01/10/rust-tidbits-box-is-special/

[2022-02-13 15:03] zvonimir commented on #777
Can we fix this somehow?

[2022-02-24 09:54] hernanponcedeleon commented on #776
@shaobo-he  would it be possible to add support for thread local variables in smack? We are starting to see more benchmarks using those and this is causing wrong verification results.

[2022-03-01 00:06] shaobo-he commented on #776
I'm going to look into it this week. This may take a while since I'm not an expert in pthreads.

[2022-03-01 06:22] shaobo-he opened #780 "Leverage `instcombine` pass"
It seems this pass could produce much simpler LLVM IRs.

[2022-03-01 21:28] shaobo-he opened #781 "Generalize `clang-options` into `compiler-options`"
We should be able to feed rustc options via this flag.

[2022-03-02 06:58] shaobo-he commented on #781
Ok, this feature does not make sense because a verification of a Rust program actually involves compiling C programs. It only makes sense when we fix the compilation flags of our C libraries.

[2022-03-08 00:06] shaobo-he opened #783 "Upgrade Rust version to support edition 2021"
Rust edition 2021 is stable after version 1.56.0. It seems a lot of projects are migrating to this version. We need to catch up with them as well. Version 1.56.0 uses LLVM 13, which we need upgrade SMACK to.

[2022-03-13 22:11] shaobo-he commented on #776
@hernanponcedeleon I thought about it for a while and concluded it's not trivial at all to implement this. So, I was wondering if it's hard to rewrite thread-local variables into local variables of functions running inside the threads.

Actually, let me share my current thoughts. Thread-local variables can be encoded as an array from thread ids to values. So, when a memory access happens, we have

[2022-03-14 09:43] hernanponcedeleon commented on #776
Thanks a lot @shaobo-he for making the effort, I really appreciate.

Unfortunately, I don't think this is really possible. The benchmarks we are trying to verify come from the Linux Kernel which heavily use thread local storage.

Would at least be possible to "tag" global variables coming from thread local one? My understanding is that you have this information at the LLVM level. I think and annot

[2022-03-14 21:18] shaobo-he commented on #776
Thank you for the feedback. Let me implement this.

[2022-03-14 21:45] shaobo-he commented on #776
@hernanponcedeleon I implemented it via commit [9cbbfd9](https://github.com/smackers/smack/commit/9cbbfd938c3d8396eb0f6d4c072e8b9084f62476). It adds `{:threadLocal}` attributes for thread-local varaibles. Please let me know if it works for you.

[2022-03-15 10:47] hernanponcedeleon commented on #776
Looks good! Thanks @shaobo-he

[2022-03-15 10:47] #776 closed, assigned to nobody

[2022-03-30 20:31] keram88 commented on #730
This is the output of SMACK on macOS ran with address sanitizer:
[code]

And with SeaDSA in Debug

[code]

[2022-03-30 20:56] rakamaric commented on #730
I am seeing the same problem on my Mac machine.
@shaobo-he can you help us out here? It seems to be SeaDSA related.

[2022-03-31 21:18] zvonimir commented on #730
This is now fixed in the `develop` branch. Thanks for reporting it!

[2022-03-31 21:18] #730 closed

[2022-04-07 08:54] roxanaRA opened #788 "Verifying D programs"
Hello,

I am working on a project to verify D programs and I am using Smack.
I created a template for loop invariants in D and I wanted to use Smack with it. The following is an example:

[code]

The code with the for loop worked fine with Smack.
I want to replace the commented for loop with my template.
This construction worked in D with D assert at runtime, however when I try it with Smack and _

[2022-09-16 10:07] hernanponcedeleon opened #790 "Debug information when using LLVM IR as an input"
When using smack to convert C code to boogie (`smack -t ...`), the generated boogie codecontains "debug information" such as from which file and line in the code an instructions comes from. I have been using this for a few years and works quite well.

Now I am trying to feed smack directly with llvm bytecode. While the transformation seems to work as expected. The problem is that it does not gener

[2022-10-03 00:04] shaobo-he commented on #790
Sorry for the late reply. Yes, you would probably need something like `-g` when compiling the bytecode to enable debug information. If the debug information does not show up in the Boogie code, it's probably because the bytecode you fed to SMACK doesn't have it.

[2022-10-03 19:21] hernanponcedeleon commented on #790
Using `-g` alone is not enough. However using both `-g -gcolumn-info` works.

[2022-10-03 19:21] #790 closed, assigned to nobody

[2022-11-24 07:33] 1vs9 opened #791 "How it can support ensures, requires, invariant API in Rust"
Now，smack doesn't support ensures，requires and invariant API in Rust，
When I Just declare them in smack.rs，it doesn't work，
[code]

And Then I test it  by add ensures in test file
[code]
 The result is a error which tells me "ensure you have llvm-symbolizer in your PATH or set the environment var `LLVM_SYMBOLIZER_PATH` to  point it", and return a Exception("segmentation fault")

So, if I want to u